{% trans_default_domain 'FOSUserBundle' %}

<div class="container passwordForget">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-4 ">
            <div class="row">
                <h4 class="text-center"> Vous avez oublié votre mot de passe? </h4>
                <p> Saisissez ci-dessous votre e-mail puis valider. Vous recevrez alors un email pour réinitialiser votre mot de passe. </p>
            </div>
        </div>

        <div class="col-lg-offset-1 col-lg-4">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}

                    <div class="form-group">
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="username" required="required" />
                    </div>
                </div>
                <div>
                    <input class="btn-passwordForget btn" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>